<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tnt.dao.UserDao">

    <select id="selectUserInfoByName" resultType="com.tnt.entity.dto.User">
        SELECT * FROM `user` WHERE username = #{username} and `password` = #{password}
    </select>

    <select id="getUserByName" resultType="com.tnt.entity.dto.User">
        SELECT * FROM `user` WHERE username = #{username}
    </select>

    <select id="getRolesById" resultType="com.tnt.entity.dto.Role">
        select r.id,r.name,r.name_zh from role r,user_role ur where r.id = ur.rid and ur.uid = #{uid}
    </select>

</mapper>
